.weather-bar {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  margin: 1rem;
}

.weather-card {
  border: 1px solid black;
  padding: 1rem;
  min-width: 12rem;
  text-align: center;
}
